.container {
    width: 100%;
    height: var(--home-item-height);
    font-size: 16px;
    padding: 1px 20px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    background: var(--element-background-color);
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}


.container::-webkit-input-placeholder {
    color: var(--text-color);
    text-align: center;
}

.container:-webkit-autofill,
.container:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.container:focus {
    outline: none;
}

.normal {
    height: 40px;
    padding: 5px 10px;
    border-radius: 4px;
    background: none;
    box-sizing: border-box;
}

.normal::-webkit-input-placeholder {
    text-align: left;
}

.search {
    height: 40px;
    border-radius: 8px;
    background: none;
    box-sizing: border-box;
}

.container.search::-webkit-input-placeholder {
    text-align: left;
}