

.tagList {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 15px;
}

.tagList > div {
    display: inline-block;
    margin-right: 6px;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid var(--text-color);
}

.tagList::-webkit-scrollbar {
    display: none;
}

.selectedTag {
    color: #2b2b2b;
    background-color: var(--text-color);
}

.machineList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 20px;
}

.machineCard {
    position: relative;
    width: calc(50% - 12px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

.machineCard span {
    display: block;
    width: fit-content;
    color: var(--text-link-color);
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid var(--text-link-color);
    border-radius: 10px;
    margin-bottom: 10px;
}


.machineCount {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 14px;
}

