.container {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
}

.linkBox {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.linkBox a {
    display: flex;
    align-items: center;
}

.linkBox img {
    width: 20px;
}

