.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.title small {
    white-space: nowrap;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h3 {
    margin-bottom: 8px;
}

.highlight {
    color: var(--text-link-color);
}

