.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 48px;
}

.header a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;

}

.title {
    margin: 100px 0 0;
    align-self: center;
    display: flex;
    font-size: clamp(4rem, 10vw, 6rem);
    background: rgb(245,4,4);
    background: linear-gradient(114deg, rgba(245,4,4,1) 0%, rgba(5,146,255,1) 49%, rgba(237,249,13,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.searchInputBox {
    position: relative;
    width: 588px;
}

.searchInputBox:focus {
    outline: none;
}

.searchInput {
    width: 100%;
    height: var(--home-item-height);
    font-size: 16px;
    padding: 1px 20px;
    border: 1px solid var(--border-color);
    background: var(--element-background-color);
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}


.searchInput::-webkit-input-placeholder {
    color: var(--text-color);
    text-align: center;
}


@media screen and (max-width: 1024px) {
    .form {
        padding: 0 20px;
    }

    .searchInputBox {
        width: 100%;
    }
}

.paragraph {
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #4B9AE0;
}

.notification {
    padding: 5px 30px;
    text-align: center;
    white-space: nowrap;
}


.notification a {
    color: var(--text-link-color);
}