.container {
    flex: 1;
}

.result {
    color: var(--text-disabled-color);
}

.itemList {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 110px);
}

.itemList::-webkit-scrollbar {
    display: none;
}

.emptyText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background-color: var(--element-background-color);
}

