.container {
    flex: 1;
}

.result {
    color: var(--text-disabled-color);
}

.itemList {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 110px);
}

.itemList::-webkit-scrollbar {
    display: none;
}

