.container {
    width: 100%;
    padding: 10px 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #8F969C;
}

.menu {
    display: flex;
}


