

.tagList {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 15px;
}

.all {
    color: #AAAAAA;
}

.rhythm {
    color: var(--rhythm-color);
}
.fight {
    color: var(--fight-color);
}
.racing {
    color: var(--racing-color);
}
.shooting {
    color: var(--shooting-color);
}
.action {
    color: var(--action-color);
}
.puzzle {
    color: var(--puzzle-color);
}
.casual {
    color: var(--casual-color);
}
.sports {
    color: var(--sports-color);
}
.etc {
    color: var(--etc-color);
}


.tagList > div {
    display: inline-block;
    margin-right: 6px;
    padding: 2px 10px;
    border-radius: 16px;
    font-size: 14px;
    border: 1px solid var(--text-color);
}

.tagList::-webkit-scrollbar {
    display: none;
}

.selectedTag {
    font-weight: bold;
    background-color: var(--text-color);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.machineList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.machineCard {
    position: relative;
    width: calc(50% - 12px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

.machineCard span {
    display: block;
    width: fit-content;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    border: 1px solid #fff;
}


.machineCount {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 14px;
}

.machineEmptyText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 18px;
    background-color: var(--element-background-color);
    border-radius: 8px;
}