.layout {
    width: 100%;
    padding: 0 var(--layout-padding) 100px;
}

@media screen and (min-width: 900px) {
    .layout {
        width: 900px;
        margin: 0 auto;
    }
}

.content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100vh;
}

.csPageMain {
    min-height: auto;
}