.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}

.title {
  font-size: clamp(4rem, 10vw, 6rem);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.searchInput {
  width: 588px;
  height: 44px;
  padding: 1px 20px;
  border: 1px solid #ccc;
  border-radius: 44px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.searchInput:focus {
  border: 1px solid #ccc;
  outline: none;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 200px 100px;
  }

  .searchInput {
    width: 100%;
  }
}